#collage{
  position:absolute;
  top:0;
  left:0;
  width:100%;

}

.puzzle {
   background-image:url(../images/collage4.png);


}



#background {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  display:none;
}

.piece1 {
  width:50%;
  height:300px;
  background-position:0 -56px;float: left;

}

.piece2 {
  width:0%;
  height:300px;
  background-position:-288px -40px;float: left;
}

.piece3 {
  width:50%;
  height:300px;
  background-position:-2437px -56px;float: left;
}
.piece4 {
  width:0%;
  height:300px;
   background-position:-3027px -144px;float: left;
}

.piece5 {
  width:50%;
  height:300px;
   background-position:-35px -528px;float: left;
}

.piece7 {
  width:0%;
  height:300px;
   background-position: -408px -528px;
  float: left;
}

.piece8 {
  width:0%;
  height:300px;
   background-position: -912px -567px;
  float: left;
}

.piece9 {
  width:50%;
  height:300px;
   background-position: -1246px -528px;
  float: left;
}

#bubble{
  /*padding-left: 0;*/
}

img#more {
  width:80px;
  height:80px;
  border-radius:40px;
}

img#more:hover {
  cursor:pointer;
}

#down {
  width:80px;
  height:80px;
  border-radius:40px;
}

.visible {
  display:block;
}

.circle:hover {
  color: #DA2244;
}

.lead img{
  background-color: #ffffff;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #DA2244;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

/*html,
body {
  height: 100%;
  background-color: #fff;
}*/
body {
  color: #333;
  text-align: center;
}

.row {
    padding: 5%;
}

.body-container{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}



p.speech:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 30px;
  top: 209px;
  border: 25px solid;
  border-color: #666 #666 transparent transparent;
}

p.speech {
  position: relative;
  width: 90%;
  height: 225px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 5%;
  font-size: 15px;
  background-color: #fff;
  margin: 0 auto;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

p.speech:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 38px;
  top: 209px;
  border: 15px solid;
  border-color: #fff #fff transparent transparent;
}

.speech span {
  line-height: 20px;
}

#speakerDisplay{
  margin-top:30px;
}

#coverBlurb {
  margin-top: 9%;
}


#coverBlurb h1 {
text-shadow: 0 5px 5px rgba(0,0,0,.5);





}

#intro p {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Quicksand',sans-serif;
}

div#circles{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.circle {
  width:150px;
  height:150px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.circle:hover {
  background-color: #C6FBCE;
}*/
.circle p{
  font-size: 14px;
  padding: 5px;

}

/*#about p {
  padding: 10px;
  font-size: 18px;
}*/

.header{
  font-size: 64px;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;

}

#testimonials h2{
  clear: both;
}

#speaker {
  font-family: 'Satisfy', cursive;
  margin-left: 63%;
  margin-top: -10px;
  width: 50%;
  font-size:20px;
  padding-right:5%;
}

#next {
  border: 2px solid #333333;
}

#next:hover {
  color: #DA2244;
  border: 2px solid #DA2244;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
/*body, html, .top-row {
     height: 108%;
}*/

.top-row {
  display: table;
  padding-top: 15%;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.1);
          box-shadow: inset 0 0 100px rgba(0,0,0,.1);
}
/*.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}*/
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*footer {
  background-color: #777777;
  width:100%;
  color: #ffffff;
  font-size:8px;
}*/

.fee-table {
  text-align: left;
  margin:0 auto;
  border: 1px solid #DA2244;
  margin-bottom:30px;
}

.fee-table td {
  padding:10px;
  border: 1px solid #DA2244;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  font-size:8px;
  display:none;
}

.footer p{
  padding-top: 20px;
}


/* Padding for spacing */
/*.inner {
  padding: 30px;
}*/



 * Cover
 */

.cover {
  padding: 0 20px;
  padding-top: 30%;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.gallery-image {
  width:100px;
  height:100px;
  border-radius:50px;
}

@media (min-width: 498px){
  .piece1 {
    width:30%;
  }
  .piece3 {
    width: 40%;
  }

  .piece4{
    width:30%;
  }

  .piece5{
    width:30%;
  }

  .piece7{
    width:40%;
  }

  .piece9{
    width:30%
  }
}


@media (min-width: 587px){
  p.speech{
    font-size:18px;
  }

  #speaker{
    font-size: 24px;
    margin-left: 65%;
  }
}

@media(min-width: 689px){
  #coverBlurb{
    margin-top: 4%;
  }
  p.speech{
    font-size: 20px;
  }
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  #speaker{
    font-size: 30px;
  }

  .mastfoot {
    /*position: fixed;
    bottom: 0;*/
  }
  /* Start the vertical centering */
  /*.site-wrapper-inner {
    vertical-align: middle;
  }*/
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 834px) {
  .piece1 {
    width:20%;
  }
  .piece2 {
    width:25%;
  }
  .piece3 {
    width: 35%;
  }

  .piece4{
    width:20%;
  }

  .piece5{
    width:20%;
  }

  .piece7{
    width:35%;
  }

  .piece8{
    width:20%;
  }

  .piece9{
    width:25%
  }

  #coverBlurb {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }


@media (min-width: 1260px) {
  #collage {
    display:none;
  }

  #background {
    display:block;
  }

  .landing {
    z-index:1;
    position: absolute;
    top: 200px;
    left:0;
    width:100%;
  }
}
